<!--The whole content below can be removed with the new code.-->
<body style="max-width: 1070px; width: 100%; margin: 0 auto; background-color: #FDFAFA; color: Red;">
<img src="http://www.samu192df.com.br/site/images/samu%20fundo%20branco.png" width="200" align="right" alt="">
<br>
<div style="text-align:center; Font-size: 20px; color: #EE0000;" class="title">
  <h1>Estado :{{title}}</h1>
</div>
<div style="text-align:center" class="details">
  <i>ID: {{meu_estado_id}} Área: {{meu_estado_area}}<br>
  Média de municípios atendidos: {{meu_estado_media}}</i>
</div>
<br><br><br><br>
<h4 style="color: #EE0000;">Ano e quantidade de municípios atendidos:</h4>
<div style="text-align: left; color: #CD0000;">
  <ul class="ufs">
    <li>
      <span class="badge"></span>
    </li>
  </ul>
</div>
</body>
